@import url(yui3.reset.css);
@import url(yui3.base.css);
@import url(yui3.fonts.css);

body {
	font-family: sans-serif;
  background: url(xfer.png) no-repeat top right;
  margin:0 10px;
  color:#666;
}

h1, h2, h3 {
	border-bottom: 1px solid;
  font-color:#666;
}

h1 {
  margin-top:0;
  padding-top:26px;
}

.darkred {
	color: #cc0000;
}

a {
	text-decoration: none;
}

fieldset {
	border: 1px solid #999;
  padding:10px 10px 0;
}

legend {
	font-weight: bold;
  color:#666;
}

td {
  font-size:0.9em;
  border:0;
}

tr:nth-child(odd) {
  background-color:#eee;
}

footer {
  display:block;
  color:#999;
  text-align:center;
  padding:10px;
  font-size:0.8em;
}
